@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: 'Roboto', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body.active {
  overflow: hidden;
}

.wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.popup-background {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.4;
  z-index: 4;
}

.popup-background.active {
  display: block;
}

.header {
  width: 100%;
}

.header__head {
  min-height: 36px;
  background: #0F2438;
  color: white;
}

.header__list {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item {
  margin: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.header__item img {
  margin: 0px 0px 0px 6px;
}

.header__item:nth-child(5) {
  margin-left: auto;
}

.header__item a {
  color: white;
}

.header__more {
  display: none;
  position: relative;
}

.header__more-list {
  width: 200px;
  top: 26px;
  right: -10px;
  position: absolute;
  z-index: 1;
  background-color: #0F2438;
  display: none;
}

.header__more-list.active {
  display: block;
}

.header__settown {
  padding: 20px;
  max-width: 200px;
  max-height: 200px;
  width: 100%;
  height: 100%;
  z-index: 4;
  position: absolute;
  left: 50vw;
  top: 50vh;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #0F2438;
}

.header__settown p {
  line-height: 26px;
  text-align: center;
  font-size: 22px;
}

.header__settown.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__settown-select {
  height: 40px;
}

.header__town {
  cursor: pointer;
}

.header__settown-set {
  height: 40px;
  background: #005BB9;
  border-radius: 0px 6px 6px 0px;
  color: white;
}

.header__item-more {
  padding: 5px;
}

.header__town {
  text-decoration: underline;
}

.header__link {
  color: white;
}

.header__body {
  margin: 25px 0px;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__column {
  color: #0F2438;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-text p {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.header__logo-text p:first-child {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.header__timework {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__timework-image {
  margin: 0px 10px 0px 0px;
}

.header__timework-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  margin: 0px 50px 0px 0px;
}

.header__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__address-image {
  margin: 0px 10px 0px 0px;
}

.header__address-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.header__whatsapp {
  position: relative;
  color: #0F2438;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #E1EFD0;
  padding: 8px 16px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.header__whatsapp img {
  margin: 0px 6px 0px 0px;
}

.header__whatsapp:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__phone {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin: 0px 0px 0px 70px;
}

.header__feedback {
  color: #0F2438;
  opacity: 0.7;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-align: right;
}

.header__footer {
  padding: 0px 0px 20px 0px;
  -webkit-box-shadow: 0px 20px 20px -20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 20px 20px -20px rgba(0, 0, 0, 0.15);
}

.header__footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__footer-row form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__catalog {
  position: relative;
  min-width: 34px;
  max-width: 164px;
  max-height: 53px;
  background: #005BB9;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 6px 6PX 0PX 0PX;
  padding: 16px 32px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__catalog img {
  margin: 0px 12px 0px 0px;
}

.header__burger {
  margin: 0px 15px 6px;
  position: relative;
  min-width: 20px;
  width: 100%;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.header__burger::before {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 7px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.header__burger span {
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.header__burger::after {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: -7px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.header__burger.active::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.header__burger.active span {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.header__burger.active::after {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

.header__cataloglist {
  background-color: #005BB9;
  color: white;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 5px;
  z-index: 1;
  display: none;
}

.header__cataloglist.active {
  display: block;
}

.header__cataloglink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0px;
}

.header__cataloglink a {
  position: relative;
  font-weight: normal;
  color: white;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.header__cataloglink a:hover {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.header__search {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 53px;
  margin: 0px 50px 0px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 6px 0px 0px 6px;
}

.header__search-input {
  padding: 18px;
  background: #F4F5FA;
  border-radius: 6px 0px 0px 6px;
  width: 100%;
}

.header__search-input::-webkit-input-placeholder {
  color: #C2C5DA;
}

.header__search-input:-ms-input-placeholder {
  color: #C2C5DA;
}

.header__search-input::-ms-input-placeholder {
  color: #C2C5DA;
}

.header__search-input::placeholder {
  color: #C2C5DA;
}

.header__search-input:focus {
  -webkit-box-shadow: 0px 1px 44px 8px rgba(34, 60, 80, 0.17);
          box-shadow: 0px 1px 44px 8px rgba(34, 60, 80, 0.17);
}

.header__search-submit {
  background: #005BB9;
  border-radius: 0px 6px 6px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 101px;
          flex: 1 1 101px;
  color: white;
  font-size: 14px;
}

.header__search-submit img {
  display: none;
}

.header__user {
  max-width: 411px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.header__user a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #0F2438;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__user img {
  margin: 0px 15px 0px 0px;
  max-width: 28px;
  max-height: 28px;
}

.header__user-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  position: relative;
}

.header__user-item:first-child:after {
  content: '';
  position: absolute;
  top: 0;
  right: 25px;
  height: 100%;
  width: 1px;
  background-color: #E1E5F8;
}

.header__user-item:nth-child(2):after {
  content: '';
  position: absolute;
  top: 0;
  right: 10px;
  height: 100%;
  width: 1px;
  background-color: #E1E5F8;
}

.container {
  margin: 0px 283px;
}

@media (max-width: 1700px) {
  .container {
    margin: 0px 120px;
  }
}

@media (max-width: 1350px) {
  .container {
    margin: 0px 15px;
  }
}

.footer {
  padding: 36px 0px 85px 0px;
  background: #0C1A2A;
}

.footer p {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #868DAC;
}

.footer a, .footer li {
  margin: 14px 0px 0px 0px;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

.footer__nav {
  background-color: #fff;
  z-index: 2;
  padding: 8px 28px 6px 28px;
  width: 100vw;
  position: fixed;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}

.footer__navitem {
  font-size: 10px;
  line-height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0F2438;
}

.footer__navitem img {
  margin: 0px 0px 6px 0px;
}

.footer__row {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__column-row_column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__column-row {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70%;
          flex: 1 1 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
}

.footer__list li:last-child p {
  font-weight: normal;
  color: white;
  font-size: 14px;
  line-height: 16px;
  margin: 45px 0px 0px 0px;
}

.footer__column-advance_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__contact-list {
  display: inline-block;
  margin: 12px 0px 0px 0px;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

.footer__address {
  display: inline-block;
  margin: 12px 0px 0px 0px;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

.footer__feedback {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 23px 0px 0px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__feedback span {
  font-size: 16px;
  line-height: 21px;
  color: #858CAB;
}

.footer__feedback a {
  margin: 0;
}

.footer__mailing {
  margin: 23px 0px 0px 0px;
}

.footer__mailing span {
  font-size: 16px;
  line-height: 21px;
  color: #858CAB;
}

.footer__mail {
  height: 40px;
  border: 1px solid #203246;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 20px 0px 0px 0px;
}

.footer__input {
  background: #0C1A2A;
  width: 100%;
  padding: 10px 0px 11px 17px;
  color: white;
  border-radius: 6px 0px 0px 6px;
}

.footer__input::-webkit-input-placeholder {
  font-size: 15px;
  line-height: 19px;
  color: #ADBDD1;
}

.footer__input:-ms-input-placeholder {
  font-size: 15px;
  line-height: 19px;
  color: #ADBDD1;
}

.footer__input::-ms-input-placeholder {
  font-size: 15px;
  line-height: 19px;
  color: #ADBDD1;
}

.footer__input::placeholder {
  font-size: 15px;
  line-height: 19px;
  color: #ADBDD1;
}

.footer__subscribe {
  color: white;
  background: #005BB9;
  border-radius: 0px 6px 6px 0px;
  padding: 10px 40px;
}

.footer__icons {
  margin-left: auto;
  max-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider {
  max-width: 65%;
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
  position: relative;
}

.slider__punkts {
  width: 92px;
  height: 16px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__punkt {
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
}

.slider__punkt.slider__active {
  background-color: black;
}

.slider__container {
  border-radius: 16px;
  height: 100%;
  overflow-x: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url("/img/slider/sliderbg.svg");
  background-size: cover;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.slider__container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.slider__arrow-right {
  cursor: pointer;
  position: absolute;
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 30px;
}

.slider__arrow-left {
  cursor: pointer;
  position: absolute;
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 30px;
}

.slider__slide {
  scroll-snap-stop: always;
  scroll-snap-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__discription {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 95px 0px 88px 145px;
}

.slider__title {
  white-space: nowrap;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #0A1A2C;
}

.slider__subtitle {
  margin: 10px 0px 0px 0px;
  font-size: 20px;
  line-height: 23px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #717171;
}

.slider__price {
  margin: 25px 0px 0px 0px;
  font-weight: 500;
  font-size: 37px;
  line-height: 43px;
  color: #005BB9;
}

.slider__cart {
  margin: 15px 0px 0px 0px;
  padding: 15px 30px;
  background: #005BB9;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 160px;
  height: 49px;
}

.slider__btn-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.slider__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider__image img {
  min-height: 50%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main {
  max-width: 100%;
  margin: 30px 0px 70px 0px;
}

.main__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  overflow: hidden;
}

.main__stocks {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  margin: 0px 0px 0px 10px;
  padding: -5px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__stock {
  margin: 5px 0px;
  padding: 20px 15px;
  background: #F4F5FA;
  border-radius: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.main__stock-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #0F2438;
}

.main__stock-row {
  margin: 18px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px -7.5px;
}

.main__stock-column {
  margin: 0px 7.5px;
}

.main__stock-column:nth-child(2) {
  width: 60%;
}

.main__stock-column:nth-child(1) {
  width: 40%;
}

.main__stock-column > img {
  width: 100%;
  height: auto;
  min-height: 40%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__stock-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #0A1A2C;
}

.main__stock-model {
  margin: 6px 0px 0px 0px;
  font-size: 12px;
  line-height: 14px;
  color: #525252;
}

.main__stock-cart-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__stock-price {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #FFB800;
}

.main__stock-cart {
  margin-left: auto;
  width: 57px;
  height: 49px;
  background: #005BB9;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products {
  margin: 0px 0px 40px 0px;
}

.products__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  max-width: 50%;
}

.products__item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 10px;
}

.products__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 250px;
          flex: 1 1 250px;
  width: 100%;
}

.products__image > img {
  max-width: 100%;
  max-height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 350px) {
  .products__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 150px;
            flex: 1 1 150px;
  }
}

.products__rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 0px 10px 0px;
}

.products__rate img {
  margin: 0px 10px 0px 0px;
}

.products__rate-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FFB800;
}

.products__rates {
  margin: 0px 0px 0px 10px;
  font-size: 14px;
  line-height: 16px;
  color: #B0B0B0;
}

.products__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #0A1A2C;
}

.products__price {
  margin: 40px 0px 0px 0px;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: #FFB800;
}

.products__buttons {
  margin: 15px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products__cart {
  white-space: nowrap;
  padding: 15px 30px;
  background: #005BB9;
  border-radius: 6px;
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}

.products__cart img {
  margin: 0px 8px 0px 0px;
}

.products__feature {
  margin: 0px 20px;
  cursor: pointer;
}

.products__scale {
  cursor: pointer;
}

a:hover {
  color: #ff4949;
}

@media (max-width: 1140px) {
  .header__item {
    display: none;
  }
  .header__item:nth-child(4) {
    margin-left: auto;
  }
  .header__more, .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__item-more-later {
    display: none;
  }
  .header__timework-text {
    margin: 0px 0px 0px 0px;
  }
  .header__column:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header__timework {
    margin: 0px 0px 15px 0px;
  }
  .header__column:nth-child(3) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .header__column:nth-child(3) .header__whatsapp {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .header__column:nth-child(3) .header__whatsapp {
    padding: 2px 5px;
    margin: 0px;
    text-align: right;
  }
  .header__feedback {
    margin: 0px 0px 10px 0px;
  }
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__column-row_column {
    margin: 45px 0px 0px 0px;
  }
  .footer__contact, .footer__addreses {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333%;
            flex: 0 0 33.3333%;
  }
  .footer__column-advance_row {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .footer__column-advance_column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__feedback {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__feedback span {
    line-height: 40px;
  }
  .footer__feedback, .footer__mailing {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
  .footer__icons {
    margin: 20px 0px 0px 0px;
  }
  .slider__arrow-right {
    display: none;
  }
  .slider__arrow-left {
    display: none;
  }
  .slider__discription {
    padding: 50px 0px 76px 20px;
  }
  .slider__title {
    font-size: 26px;
    line-height: 30px;
  }
  .slider__subtitle {
    font-size: 16px;
  }
  .slider__price {
    font-size: 30px;
  }
  .main__stock-title {
    font-size: 12px;
  }
  .main__stock-subtitle {
    font-size: 13px;
  }
  .main__stock-model {
    font-size: 10px;
  }
  .main__stock-price {
    font-size: 18px;
  }
  .main__stock-cart {
    width: 39px;
    height: 39px;
  }
}

@media (max-width: 800px) {
  .header__timework, .header__address {
    display: none;
  }
  .header__catalog {
    max-width: 43px;
    max-height: 43px;
  }
  .header__catalog p {
    display: none;
  }
  .header__catalog img {
    margin: 0;
  }
  .header__search {
    margin: 0px 15px 0px 15px;
  }
  .header__user-item img {
    margin: 0px 0px 10px 0px;
  }
  .header__user-item a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__user-item::after {
    display: none;
  }
  .header__user-item:nth-child(3) {
    text-align: center;
  }
  .header__logo-text p:nth-child(2) {
    max-width: 130px;
  }
  .header__phone {
    margin: 0;
  }
  .slider {
    max-width: 100%;
  }
  .main__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__stocks {
    overflow-x: auto;
    margin: 10px -5px 0px -5px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
  }
  .main__stock {
    max-width: 500px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin: 0 5px;
    scroll-snap-align: center;
  }
  .main__stock-column:nth-child(2) {
    width: 70%;
  }
  .main__stock-column:nth-child(1) {
    width: 30%;
  }
}

@media (max-width: 560px) {
  .container {
    margin: 0px 15px;
  }
  .header img {
    max-width: 50px;
  }
  .header__item {
    margin: 10px 0px;
  }
  .header__item:nth-child(2) {
    display: none;
  }
  .header__item:nth-child(3) {
    display: none;
  }
  .header__item img:first-child {
    display: none;
  }
  .header__logo-text p:first-child {
    line-height: 14px;
    font-size: 14px;
  }
  .header__logo-text p:last-child {
    font-size: 8px;
  }
  .header__user {
    display: none;
  }
  .header__search {
    margin: 0px 0px 0px 20px;
    height: 34px;
  }
  .header__search-submit {
    max-width: 34px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__search-submit img {
    display: block;
    width: 12px;
    height: 12px;
  }
  .header__search-submit span {
    display: none;
  }
  .header__catalog {
    padding: 10px 7px;
    max-width: 34px;
    height: 34px;
  }
  .header__item-more-later {
    display: block;
  }
  .header__whatsapp-text {
    font-size: 10px;
    white-space: nowrap;
  }
  .header__phone {
    font-size: 14px;
  }
  .container {
    margin: 0px 10px;
  }
  .header__feedback {
    font-size: 10px;
  }
  .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__column-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__row .footer__column:not(:first-child) {
    margin: 25px 0px 0px 0px;
  }
  .footer__column-advance_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__addreses {
    margin: 25px 0px 0px 0px;
  }
  .footer__column-advance_column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__navitem p {
    font-size: 12px;
  }
  .slider__discription {
    padding: 15px;
  }
  .slider__title {
    font-size: 16px;
  }
  .slider__subtitle {
    margin: 0;
    line-height: 10px;
    font-size: 10px;
  }
  .slider__price {
    font-size: 20px;
    line-height: 23px;
  }
  .slider__cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 124px;
    height: 34px;
  }
  .slider__cart img {
    margin: 0px 7px 0px 0px;
  }
  .slider__btn-text {
    font-size: 12px;
    line-height: 14px;
  }
  .main__stock-column:nth-child(2) {
    width: 70%;
  }
  .main__stock-column:nth-child(1) {
    width: 30%;
  }
  .main__stock {
    max-width: 300px;
  }
  .products__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    max-width: 50%;
  }
  .products__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .products__scale {
    display: none;
  }
  .products__item {
    padding: 5px 5px;
  }
  .products__item img {
    max-width: 100%;
  }
  .products__cart {
    width: 110px;
    height: 35px;
    padding: 10px 16px;
    font-size: 12px;
  }
  .products__cart img {
    width: 12px;
    height: 12px;
  }
  .products__title {
    font-size: 12px;
  }
  .products__buttons > img {
    margin: 0px 10px;
  }
}
